.map-container {
  top: -10px;
  margin-top: 65px;
  height: 90vh;
  width: 100vw;
}

.main-container {
  position: absolute;
  height: 525px;
  width: 450px;
  top: 100px;
  left: 25px;
  background: rgb(27, 27, 27);
  z-index: 1000;
  box-shadow: 0px 0px 20px 1px black;
  border-radius: 10px;
}

#sub-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-template-rows: auto;
  margin: auto;
  max-width: 450px;
  max-height: 525px;
  gap: 20px;
  overflow-y: auto;
  padding: 20px;
}

.foto-container {
  border-radius: 10px;
  height: 200px;
  background: rgb(25, 25, 25);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  scroll-snap-align: start;
  box-shadow: 0px 0px 14px 0 black;
  animation: fadeIn 0.5s ease-in-out forwards;
}

.photo-info-container {
  border-radius: 10px;
  position: absolute;
  top: 100px;
  height: 525px;
  width: 500px;
  left: 500px;
  background: rgb(27, 27, 27);
  z-index: 10001;
}
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: rgb(27, 27, 27);
}

*::-webkit-scrollbar-thumb {
  background-color: #252525;
  border-radius: 10px;
  border: 3px solid #373737;
}

.submit-button {
  position: absolute;
  height: 100px;
  width: 100px;
  background: red;
  left: 100px;
}

.fotoimage {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#map {
    height: 100%;
  }

  a{
    text-decoration:none;
    color: #fff;
    
    &:hover{
      color: white;
    }
  }
  
  #header-nav{
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    background: black;
    background-color: rgba(0, 0, 0, 1);
    z-index: 100;
    -webkit-transition:-webkit-transform 0.7s .3s ease;
        -moz-transition:   -moz-transform 0.7s .3s ease;
        -ms-transition:    -ms-transform 0.7s .3s ease;
            transition:        transform 0.7s .3s ease;
    
    
    -webkit-backface-visibility: hidden;
     -webkit-transform: translate3d(0px, 0px, 0px);
  
  }
  
  #header-nav.hide-nav-bar{
     -webkit-transform: translate(0, -100%);
     -moz-transform: translate(0, -100%);
     -ms-transform: translate(0, -100%);
     transform: translate(0, -100%);
     -webkit-backface-visibility: hidden;
  }
  
  a.menu-link {
          float: right;
          display: block;
          padding: 1em;
      }
      nav[role=navigation] {
        clear: right;
        -webkit-transition: all 0.3s ease-out;  
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
      }
      .js nav[role=navigation] {
        overflow: hidden;
        max-height: 0;
      }
      nav[role=navigation].active {
        max-height: 15em;
      }
      nav[role=navigation] ul {
        margin: 0;
        padding: 0;
        float: left;
        padding: 0.7em 0;
      }
      nav[role=navigation] li a {
        display: block;
        padding: 0.8em;
        padding: 0.4em;
        font-size: 0.9em;
      }
  
  
  .menu-link {
    height: 30px;
    width: 33px;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    margin-top: 3px;
    background: gray;
    width: 33px;
    height: 4px;
    position: absolute;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
  }
  
  .bar2 {
   margin-top: 13px;
  }
  .bar3 {
    margin-top: 23px;
   
    -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  }
  
    .brand{
      float: left;
      margin-left: -11em;
      padding: 1em;
    h1{
      margin: 0;
      font-size:1.5em;
    }
      a{

      }
    }
  
  
      @media screen and (min-width: 48.25em) {
      
        a.menu-link {
           display: none;
        }
        .js nav[role=navigation] {
          max-height: none;
        }
        nav[role=navigation] ul {
          margin: 0 0 0 -0.25em;
          border: 0;
          float: right;
        }
        
        nav[role=navigation]  li {
          display: inline-block;
          margin: 0 0.25em;
        }
        nav[role=navigation] li a {
          
          border: 0;
        }
      }
  
  
  .container{
    max-width: 72em;
    margin: 0 auto;
  }
  
  section{
    margin-top: 4em;
    padding: 1em;
    color: #5c5c5c;
    
    hr{
    border-bottom: none;
      color: #f2f2f2;
    }
  }
  
  .info{
    text-align: center;
  }

  .leaflet-geosearch-bar{
    position: fixed;
    margin-left: 130px;
    margin-top: 10px;
    z-index: 0; /* Ensure the search bar is above other elements */
}

.leaflet-geosearch-bar form{
    width:300px;
  }
